Source: freewrl
Section: contrib/graphics
Priority: optional
Maintainer: Michel Briand (Quand on veut on peut !) <michelbriand@free.fr>
Build-Depends: debhelper (>= 7), pkg-config,
 x11proto-print-dev, libxxf86vm-dev,
 libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev, libglew1.5-dev, 
 libxaw7-dev,
 libmotif-dev | lesstif2-dev,
 libimlib2-dev, libxml2-dev, libexpat1-dev,
 libmozjs-dev | xulrunner-dev, iceape-dev,
 gcj | java-compiler
Standards-Version: 3.8.0
Homepage: http://freewrl.sourceforge.net

Package: freewrl
Architecture: any
Depends: default-jre | java-runtime, ${shlibs:Depends}, ${misc:Depends}
Recommends: ttf-bitstream-vera, wget, sox, convert
Description: X3D/VRML browser
 FreeWRL is a 3D viewer that support VRML and X3D (successor of VRML).
 It is released as a standalone program (freewrl) and as a Web browser plugin.
 .
 It uses OpenGL for rendering and supports GLSL Shaders.
